extends layout

block content
  h1 #{title}
  form(method='POST',action='/articles/edit/'+article._id)
    #form-group
      label Company Name:
      input.form-control(name='title',type='text' value=article.title)
    #form-group
      label CID:
      input.form-control(name='author',type='text',value=article.author)
    #form-group
      label Average Salary:
      input.form-control(name='salary',type='text' value=article.salary) 
    #form-group
      label Skills:
      input.form-control(name='skill',type='text' value=article.skill)    
    #form-group
      label Description:
      textarea.form-control(name='body')= article.body
    br
    input.btn.btn-primary(type='submit',value='Submit')
      
